{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/passwordchange" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current-password" placeholder="Current Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password-confirmation" placeholder="New Password Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}
